.plusminus {
    margin-left: 0px;
}
#main {
    width: 100%;
    height: calc(100vh - 45px);
    position: relative;
    overflow: hidden;
}

#algorithm-header {
    position: relative;
    width: 100%;
    height: 6vh;
    background-color: #cdcdcd;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#algorithm-header .algorithm-comp {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    height: 100%;
}

#algorithm-header .first {
    margin-left: 15px;
}

#algorithm-header .last {
    margin-right: 15px;
}
  
#algorithm-header .last .button , .exec-button .button {
    height: 75%;
    text-align: center;
    vertical-align: middle;
    border: 0px;
    font-size: 0.9rem;
    border-radius: 3px;
    padding-right: 10px;
    background-color: var(--very-light-grey);
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
    color: var(--dark-grey)
}
#algorithm-header,
#algorithm-header .last,
#algorithm-header .last .button {
    position: relative;
}

#algorithm-header .last .button {
    width: 175px;
}

#algorithm-header .last .button span.label {
    position: relative;
    z-index: 0;
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 175px;
    background-color: var(--very-light-grey);
    cursor: pointer;
    font-size: 0.9rem !important;
    border-radius: 3px;
    padding: 5px 0;
  }
  
  #algorithm-header .last .button span.label:hover {
    background-color: var(--light-grey);
    cursor: pointer;
  }

  #upload:hover {
    background-color: var(--light-grey);
  }

  #upload {
    display: inline-block;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 175px;
    max-width: 175px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    border-radius: 3px;
}

#save-button { 
    z-index: 2;
}

#algorithm-header .last .button:active, #algorithm-header .last .button:focus, .exec-button .button {
    border: 0px;
    outline: none;
}

#algorithm-header .last .button:hover {
    background-color: var(--light-grey);
}

#algorithm-header .last .button.load {
    margin-right: 15px;
}

#algorithm-header .last .button i {
    font-size: medium;
    margin-right: 5px;    
    margin-left: 5px;    
    color: var(--orange);
}

#algorithm-header .algorithm-comp span {
    flex-shrink: 0;
    font-size: 1.5rem !important;
    font-weight: 300 !important;
}

#algorithm-header .algorithm-comp p {
    margin-left: 5px;
    position: relative;
    flex: 0 1 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    vertical-align: middle;
}

#algorithm-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 6vh - 45px);
    padding: 15px;    
}

#algorithm-content .a-content {
    height: 100%;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(126, 151, 157, 1);
    -moz-box-shadow: 0px 2px 5px -1px rgba(126, 151, 157, 1);
    box-shadow: 0px 2px 5px -1px rgba(126, 151, 157, 1);
    font-size: 0.9rem;
    position: relative;
}

#algorithm-content .left {
    flex: 1;
}

#algorithm-content .right {
    flex: 2;    
    margin-left: 15px;
}

.exec-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
}

.exec-button .button.exec {
    background-color: var(--orange);
    color: white;
    padding: 0;
    padding: 15px;
    padding-top: 5px;
}

.exec-button .button.exec:hover {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.a-content.left > div {
    height: 45px;
    width: 100%;
}

.a-content.left .config {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}


.a-content.left .config p {
    flex: 10%;
}

.a-content.left .config .spinner, .a-content.left .config input {
    flex: 90%;
}

.a-content.left .config-p p {
    flex: 20%;
}

.a-content.left .config-p .spinner, .a-content.left .config-p input {
    flex: 80%;
}

.a-content.left .config-p {
    display: flex;
    flex-direction: row;
}

.a-content.left .config-p .config {
    flex: 50%;
}

.a-content.left .config input.ph, .a-content.left .config input.pr {
    width: 100px;
} 

.a-content.left .config p, .a-content.left .config-g p {
    margin-top: auto;
    margin-bottom: auto;
}

.a-content.left .config-g.game-format {
    display: block;
}

.a-content.left .config-g.game-format .game-format-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.a-content.left .config-g.game-format .view {
    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}

.a-content.left .config-g.game-format .view#game-format-config .game {
    height: 35px;
    width: 50%;
}

.a-content.left .config-g.game-format .view#game-format-config .game p,
.a-content.left .config-g.game-format .view#game-format-config .game .game-config {
    display: inline-block;
}

.a-content.left .config-g.game-format .view#game-format-config .game .game-config > * {
    display: inline-block;
}


/* Toggle button */
.game-config {
    position: relative;
    height: 100%;
}

.center {
    height: 100%;
    align-items: center !important;
    margin-left: 5px;
  }

  .center input {
    margin-left: 0px;
    vertical-align: middle;
    height: 20px;
    margin-bottom: auto !important;
    margin-top: auto !important;
  }

  input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: var(--blue-grey);
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background 300ms linear !important;
  }
  
  input:checked[type="checkbox"] {
    background: var(--orange);
  }
  
  input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: left 300ms linear !important;
  }
  
  input:checked[type="checkbox"]::before {
    left: 20px;
  }

.a-content.right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.a-content.right .team-a {
    display: flex;
    flex-direction: row;
    width: auto;
}

.a-content.right .team-a p {
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.a-content.right .team-a .solution-matrix {
    margin-left: 1rem;
}

.a-content.right .team-a .solution-matrix table > * {
    text-align: center;
}

.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid var(--blue-grey);
    min-width: 80px;
}

.table-bordered, .table-bordered td.empty {
    border: none;
}

.m-head {
    background-color: #ffd639;
}

.m-col-head {
    background-color: #35FF69;
}

.a-content.right .team-a .solution-matrix table p {
    text-align: center;
    width: 100%;
}